/* Layout */
header {
    position: sticky;
    top: 0;
    z-index: 800;

    margin-bottom: 8px;
}

@media (max-width: 1200px) {
    header {
        background-color: white;
    }
}

nav {
    display: flex;
    flex-direction: row;

    padding-left: 16px;
}

nav > a, nav > a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #381D2A;
    padding: 12px;
}

nav > a:hover {
    color: white;
    background-color: #381D2A;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 28px;
    padding-right: 16px;

    max-width: 800px;
}